# OS / Editor
.DS_Store
.vscode/

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.python-version

# Node.js
node_modules/
.next/
.npm/
package-lock.json

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/

# Env / Local data
.env
*.db
*.sqlite*

# Python virtualenv anywhere
venv/
**/venv/